.form-control{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    &-label{
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
    }
    &-input{
        width: 50%;
        color: #333;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
        padding: 5px 5px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        transition: all 0.3s;
        border: 1px solid #C4C4C4;
        margin-bottom: 5px;
    }
    &-btn{
        cursor: pointer;
        text-decoration: none;
        background-color: #4ADE80;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
    }
}