body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.wrapper{
    display: flex;
    background: linear-gradient(180deg, #3D0520 0%, #1B0830 92.19%);
    min-height: 700px;
}
.container{
    margin: 0px 25px;
}
.content-left{
    width: 82%;
}
.border-bottom{
    border-bottom: 2px solid $hover-color !important;
}
.bg-table{
    background: linear-gradient(180deg, #CC724C 0%, rgba(204, 114, 76, 0) 100%);
    height: 410px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.active{
    color: $hover-color !important;
}
.text-color{
    color: $text-color !important;
}
.mr-10px{
    margin-right: 10px !important;
}
.normal-status{
    background-color: #de6767;
    padding: 5px 8px;
    border-radius: 15px;
}
.broken-status{
    background-color: #685456;
    padding: 5px 30px;
    border-radius: 15px;
}