$text-color: rgba(255, 255, 255, 1);
$hover-color: rgba(238, 17, 139, 1);
$heading-color: rgba(204, 114, 76, 1);
$background-color: rgba(61, 5, 32, 1);
$gray-color: rgba(164, 164, 164, 0.34);
$brown-color: rgba(73, 73, 73, 1);
$table-color: rgba(204, 114, 76, 1);
$header-modal-color : #FF8D76;
